/* Tailwind Config */
@tailwind base;
@tailwind components;
@tailwind utilities;



/* <<<<<========== Universal Selector ==========>>>>> */
* {

  margin: 0;

  padding: 0;

  box-sizing: border-box;

  scroll-behavior: smooth;

  /* outline: silver dashed 2px; */

}



/* Clash Display Font */
@import url('https://fonts.cdnfonts.com/css/clash-display');



body {

  margin: 0;

  font-family: 'Clash Display', sans-serif;

  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;

  background-color: #F2F4F7;

}



code {

  font-family: 'Clash Display', sans-serif;

}



/* <<<<<========== Reusable Styling ==========>>>>> */
p,
a {

  font-size: 20px;

}



h1,
h2{
  
  @apply leading-[101%]

}



.wrapper {

  @apply w-full

}



.container {

  @apply lg:w-[80vw] md:w-[90vw] sm:w-[95vw] mx-auto py-5

}